{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div id="content-wrap">
  <div id="sidebar" style="display: block;">
    <h1>Sign in</h1>
    <div class="left-box">
        <form method="post">
            {% csrf_token %}
            <p>{{ form }}</p>
            <p><input type="submit" value="Login"></p>
            <p><b><a href="http://www.opensoccer.org/passwort_vergessen.php">Forgot password?</a></b></p>
        </form>
    </div>
      <h1>Demo Account {{ username }}</h1>
      <div class="left-box">
        <p><strong>Username:</strong> Demo<br><strong>Password:</strong> demo</p>
      </div>
  </div>

  <div id="main">
    <h1>Free Online Soccer Manager</h1>
    <p><strong>Du bist der Trainer. Du bist der Manager. Du hast alles in der Hand!</strong></p>
    <p>+ Übernimm Deinen eigenen Fußballklub!<br>+ jeden Tag 1 bis 4 Spiele (Liga + Pokal)<br>+ einfach im Browser managen — keine Installation<br>+ garantiert kostenlos — auch in Zukunft<br>+ keine Premium-Accounts — gleiche Chancen für alle<br>+ schneller Einstieg<br>+ langfristiger Spielspaß<br>+ tolle Community<br>+ wenig Zeitaufwand<br>+ LIVE-Spiele — spannend bis zum Ende<br>+ Urlaubsvertretung durch den Computer (10-30 Tage)</p>
    <h2>Sign up</h2>
  </div>

</div>

{% endblock %}