{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>refresh</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="{% static 'images/Refresh.css' %}" type="text/css" />
<script type="text/javascript" src="{% static 'js/drop_down.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/drop_down.css' %}" type="text/css" />
<link rel="icon" type="image/png" href="" />
</head>

<body>
    <div id="wrap">
        <div id="header">
            <div class="logo_top" style="padding:12px 0;"><img src="{% static 'images/logo.png' %}" width="224" style="display:block; border:0; width:224px; height:60px; margin:0 auto;" />
            </div>
        </div>

        {% include 'menu.html' %}

        {% block content %} {% endblock %}

        <div id="footer"><!-- DO NOT DELETE --></div>

    </div>

    <div>
        <span id="rfooter" style="color:#666; width:820px; margin-left:auto; margin-right:auto; height:55px; text-align:center; font-size:80%; text-decoration:none">
        <span title="">Language:</span> <a rel="nofollow" href="">English</a> - <a rel="nofollow" href="">Espanol</a><br>
	    <a href="" rel="nofollow">Rules</a> -
        <a href="" rel="nofollow">Contact</a> -
	    <a href="" rel="nofollow">Privacy Policy</a> -
	    <a href="">Open source</a><br>
	All clubs, players and sponsors are fictitious and bear no relation to real leagues. The in-game money is virtual
            only and there are never any payouts.</span>
    </div><br>
</div>
</body>
</html>