{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div id="content-wrap">
  <div id="sidebar">
    <h1>Sidebar Menu</h1>
    <div class="left-box navBlockLinks">
        <a href="#">Home</a>
        <a href="#TemplateInfo">Template Info</a>
        <a href="#SampleTags">Sample Tags</a>
        <a href="#">More Free Templates</a>
        <a href="#">Premium Templates</a>
    </div>
    <h1>Site Partners</h1>
    <div class="left-box">
      <ul class="sidemenu">
        <li><a href="#">Dreamhost</a></li>
        <li><a href="#">4templates</a></li>
        <li><a href="#">TemplateMonster</a></li>
        <li><a href="#">Fotolia.com</a></li>
        <li><a href="#">Text Link Ads</a></li>
      </ul>
    </div>
    <h1>Wise Words</h1>
    <div class="left-box">
      <p>&quot;To be concious that you are ignorant of the facts is a great step to knowledge&quot; </p>
      <p class="align-right">- Benjamin Disraeli</p>
    </div>
    <h1>Support Styleshout</h1>
    <div class="left-box">
      <p>If you are interested in supporting my work and would like to contribute, you are welcome to make a small donation through the donate link on my website - it will be a great help and will surely be appreciated.</p>
    </div>
  </div>
  <div id="main"> <a name="TemplateInfo"></a>
    <h1>Template Info</h1>
    <p><strong>Refresh 1.0</strong> is a free, W3C-compliant, CSS-based website template by <strong>styleshout.com</strong>. This work is distributed under the <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by/2.5/"> Creative Commons Attribution 2.5 License</a>, which means that you are free to use and modify it for any purpose. All I ask is that you include a link back to my website in your credits.</p>
    <p>For more free designs, you can visit my website to see my other works.</p>
    <p>Good luck and I hope you find my free templates useful!</p>
    <p class="post-footer align-right"> <a href="#" class="readmore">Read more</a> <a href="#" class="comments">Comments (7)</a> <span class="date">Oct 01, 2006</span> </p>
    <a name="SampleTags"></a>
    <h1>Sample Tags</h1>
    <h3>Code</h3>
    <p><code> code-sample { <br />
        font-weight: bold;<br />
        font-style: italic;<br />
        } </code></p>
    <h3>Example Lists</h3>
    <ol>
      <li><span>example of ordered list</span></li>
      <li><span>uses span to color the numbers</span></li>
    </ol>
    <ul>
      <li><span>example of unordered list</span></li>
      <li><span>uses span to color the bullets</span></li>
    </ul>
    <h3>Blockquote</h3>
    <blockquote>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat....</p>
    </blockquote>
    <h3>Image and text</h3>
    <p><a href="#"><img src="images/firefox-gray.jpg" width="100" height="120" alt="firefox" class="float-left" /></a> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum odio, ac blandit ante orci ut diam. Cras fringilla magna. Phasellus suscipit, leo a pharetra condimentum, lorem tellus eleifend magna, eget fringilla velit magna id neque. Curabitur vel urna. In tristique orci porttitor ipsum. Aliquam ornare diam iaculis nibh. Proin luctus, velit pulvinar ullamcorper nonummy, mauris enim eleifend urna, congue egestas elit lectus eu est. </p>
    <h3>Example Form</h3>
    <form action="#">
      <p>
        <label>Name</label>
        <input name="dname" value="Your Name" type="text" size="30" />
        <label>Email</label>
        <input name="demail" value="Your Email" type="text" size="30" />
        <label>Your Comments</label>
        <textarea rows="5" cols="5"></textarea>
        <br />
        <input class="button" type="submit" />
      </p>
    </form>
    <br />

    <h1>Tabla</h1>
    <p style="text-align:right"><a href="/stat_torjaegerliste.php" class="pagenava">'._('Torjäger').'</a> <a href="'.$linkURL.'" class="pagenava">'.$linkText.'</a></p>
    <table>
      <thead>
        <tr class="odd">
          <th scope="col"><img src="/images/flaggen/" /></th>
          <th scope="col">'._('Team').'</th>
          <th scope="col">'._('SP').'</th>';
          <th scope="col">'._('S-U-N').'</th>';
          <th scope="col">'._('TO').'</th>';
          <th scope="col">'._('DI').'</th>';
          <th scope="col">'._('PT').'</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td class="link"><a href="/team.php?id='.$sql3['ids'].'">'.$sql3['name'].'
            </a></td>
          <td>'.$liga3['gespielt'].'</td>
          <td>'.$sql3['sunS'].'-</td>
          <td>'.$sql3['tore'].'</td>
          <td>'.$differenz.'</td>
          <td>'.$sql3['punkte'].'</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}