{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block content %}

<div id="content-wrap">
    {% include 'sidebar.html' %}

    <div id="main">
		<h1>Your club: {{ team.name }}</h1>
    <div style="clear:both;"></div>
	<table>
	<thead>
	<tr class="odd">
	<th scope="col">Area</th>
	<th scope="col">Club information</th>
	</tr>
	</thead>
	<tbody>
		<tr><td>Liga</td><td>{{ team.points }}. Place</td></tr>
	<tr class="odd"><td>RKP</td><td>{{ team.elo | intcomma }} Points</td></tr>
	<tr><td>Bank balance</td><td>$ {{ team.money | intcomma }}</td></tr>
	<tr class="odd"><td>Full squad strength</td>
        <td><img src="{% static squad_strength_image %}" alt="{{ squad_strength }}" title="{{ squad_strength }}"></td>
    </tr>
	<tr><td>Team strenght</td>
        <td><img src="/images/bar/0.png" alt=""></td>
    </tr>
	<tr><td colspan="2"><img style="vertical-align: middle;" alt="Systemzeit" src="{% static 'images/clock.gif' %}" width="16"> Saison 185 · Spieltag 1 · 17.11.2019, 04:30 Uhr</td></tr>
	</tbody>
	</table>
		<h1>Shortest contracts</h1>
    <p>Die Verträge der folgenden Spieler laufen als Nächstes aus. Du solltest sie rechtzeitig verlängern, damit die
        Spieler bei Deinem Verein bleiben:</p>
	<table>
	<thead>
	<tr class="odd">
	<th scope="col">Spieler</th>
	<th scope="col">Alter</th>
	<th scope="col">Vertrag bis</th>
	<th scope="col">Gehalt</th>
	</tr>
	</thead>
	<tbody>
	<tr>
  <td class="link"><a href="/spieler.php?id=f">Konstantinos Lund </a></td>
  <td>26</td>
  <td>03.07.2014</td>
  <td>321.069 €</td>
</tr>
<tr class="odd">
  <td class="link"><a href="/spieler.php?id=23fa67136265512f6362cf900fe40839">Guido Auer</a></td>
  <td>27</td>
  <td>03.07.2014</td>
  <td>43.429 €</td>
</tr>
</tbody>
</table>
<h1>Search for teams or managers</h1>
<form action="/index.php" method="get" accept-charset="utf-8">
  <p><input type="text" name="sucheName" style="width:200px" value=""> <input type="submit" value="Suchen"></p>
</form>
<h1>Fairplay and Multi-Accounts</h1>
<p>As in sports, fair play is our top priority.</p>
<p>Only one account is allowed per person. Of course, acquaintances, friends or the beloved family can play along from
    the same internet connection.</p>
<p>However, if you use a computer together with others, this procedure is subject to a condition which should guarantee
    and protect fair play:<br>
All of these accounts prohibit any activity that could give any of the accounts an advantage. Otherwise, of course,
    these accounts enjoy the same rights, duties and game features as the single player.
</p>
</div>
    </div>

{% endblock %}